* {
  background-color: #44464a;
}

h1 {
  color: #e8eef2;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  padding-top: 60px;
}

p {
  text-align: center;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 19px;
  font-weight: 400;
  color: #e8eef2;
}

.links a {
  color: #e8eef2;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
  border-bottom: #e3e3e3 solid 1px;
}
.links a:hover {
  border-bottom: #4e4f52 solid 2px;
  text-decoration: none;
  color: #4e4f52;
}


ul {
  letter-spacing: .06em;
  list-style-type: none;
  font-family: trebuchet ms,Verdana,verdana ref,segoe ui,Candara,lucida grande,lucida sans unicode,lucida sans,Tahoma,sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #44464aec;
  position: fixed;
  bottom: 0;
  width: 100%;
}

li {
  float: left;
  text-align: center;
}

li a {
  display: block;
  color: #e8eef2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}