body,
html {
    height: 100%;
    margin: 0;
}

.picture {
    /* The image used */
    background-image: url("https://i.imgur.com/X6h0EuY.jpeg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.picture img {
    width: 100%;
    height: auto;
}

.picture h1 {
    position: absolute;
    top: 40%;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 3em;
    text-shadow: 0 0 40px #7c5a25;
}



.picture div {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.picture div span {
    display: inline-block;
    background: black;
    color: silver;
    padding: 4px 8px;
    font-weight: normal;
    line-height: 1.2;
    font-family: serif;
    font-style: italic;
    border-radius: 6px;
}


.topnav {
    position: relative;
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #5c6758;
    color: white;
}

.topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topnav-right {
    float: right;
}

/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {

    .topnav a,
    .topnav-right {
        float: none;
        display: block;
    }

    .topnav-centered a {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
}