<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ url_for('static', path = '/data.css') }}" rel="stylesheet" />
    <meta name="theme-color" content="#ffffff">
    
    <title>ecmastatus</title>
  </head>

  <body>

    <div class="justdiv">
      <h1 class = "title"><a href="http://localhost:8000/history">Status: {{ Title }}</a></h1>
      <p>
        {% autoescape false %} {{ id | replace("\n", "<br />") }} {%
        endautoescape %} <!-- id = content of the status -->
      </p>
    </div>
    
  <div class = "nav">

    <ul class = "navbar">
      <li><a href="/">Home</a></li>
      <li><a href="/history">History</a></li>
      <li><a href="/ask_ecma">Ask Ecma</a></li>
      <li><a href="https://ecma.netlify.app/about-me/">About</a></li>
    </ul> 

  </div>
  </body>
</html>
