<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path = '/history.css') }}" rel="stylesheet" />
    <title>History! I hate it!</title>
</head>
<body>
    <div class="justdiv">
        <h1>History</h1>
        <p class = "links">
            <!--Return every data in queen hash, if none: returns nothing-->
            {% for status in statuses[::-1] %}
                <a href = "{{ 'http://localhost:8000/data/%s'%status }}" class = "links">{{ status }}</a><br/><br/>
            {% endfor %}
        </p>
      </div>

      <div class = "nav">

        <ul class = "navbar">
          <li><a href="/">Home</a></li>
          <li><a href="/history">History</a></li>
          <li><a href="/ask_ecma">Ask Ecma</a></li>
          <li><a href="https://ecma.netlify.app/about-me/">About</a></li>
        </ul> 
    
      </div>
</body>
</html>