<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ url_for('static', path = '/home.css') }}" rel="stylesheet" />
    <title>ecmastatus</title>
</head>

<body>

    <div class="topnav">

        <!-- Centered link -->
        <div class="topnav-centered">
            <a href="/" class="active">Home</a>
        </div>

        <!-- Left-aligned links (default) -->
        <a href="/mortal">Latest</a>
        <a href="/history">History</a>

        <!-- Right-aligned links -->
        <div class="topnav-right">
            <a href="/ask_ecma">Ask Ecma</a>
            <a href="https://ecma.netlify.app/about-me/">About</a>
        </div>

    </div>

    <div class="picture">

        <h1>ecmastatus</h1>

        <div>
            <span>Since BC 10.000.</span>
        </div>
</body>

</html>